<volist name="info1" id="v" offset="0" length='1'>
    <div class="flex-content vertical-flex">
        <div class="flex-main">
            <div class="img-vip-ad">
                <img src="/{$v.advertisement_image_url}">
            </div>
        </div>
        <div class="text-right">
            <div class="section-row">
                <div class="file-content">
                    <button class="danger-btn-sm">选择图片</button>
                    <input type="hidden" value="{$v.advertisement_id}"/>
                    <input type="file" name="default" onchange="preview_bottom(this,2)">
                </div>
            </div>
        </div>
    </div>
</volist>
<volist name="info1" id="v" offset="1">
    <div class="flex-content vertical-flex">
        <div class="flex-main">
            <div class="img-vip-ad">
                <img src="/{$v.advertisement_image_url}">
            </div>
        </div>
        <div class="text-right">
            <div class="section-row">
                <div class="file-content">
                    <button class="danger-btn-sm">选择图片</button>
                    <input type="hidden" value="{$v.advertisement_id}"/>
                    <input type="file" name="change" onchange="preview_bottom(this,2)">
                </div>
            </div>
            <button class="danger-btn-sm" onclick="deladver_bottom({$v.advertisement_id},2,this)">删除图片</button>
        </div>
    </div>
</volist>