<include file="Public/head"/>
<!-- 商家信息 -->
<body>
	<div class="container-fluid">
		<div class="clearfix">
			<div class="pull-left receipt-left">
				<section class="receipt">
					<h4 class="text-center">XXX餐厅</h4>
					<span>时间：2016-09-20-12:30:20</span><br>
					<span>订单号：20160920-000001</span><br>
					<div class="receipt-content">
						<table class="pre100">
							<thead>
								<tr class="text-center">
									<td class="col-sm-7">菜名</td>
									<td class="col-sm-2">份</td>
									<td class="col-sm-3">小计</td>
								</tr>
							</thead>
							<tfoot>
								<tr class="text-right">
									<td colspan="3">总计：&yen;36.00</td>
								</tr>
							</tfoot>
							<tbody class="receipt-table-content">
								<tr>
									<td>牛肉面</td>
									<td class="text-center">1</td>
									<td class="text-right">&yen;12.00</td>
								</tr>
								<tr>
									<td>牛肉面</td>
									<td class="text-center">2</td>
									<td class="text-right">&yen;24.00</td>
								</tr>
							</tbody>
						</table>
						<div>
							<img src="__PUBLIC__/images/number_code.png" class="meal-code center-block">
						</div>
						<div class="take-number text-center">取餐号:888</div>
					</div>
					<span>地址:广州市番禺区大石镇,南大路鸿图工业园A6栋</span><br>
					<span>电话:13711151xxx</span><br>
					<span>外卖电话:020-61966716,13711151xxx</span><br>
					<span>公众号点餐:GZFOUNYA</span>
				</section>
				<p class="mt-10">送餐地址:陈远银,13711151026,广州市番禺区大石镇,南大路鸿图工业园A6栋</p>
			</div>
			<div class="pull-left receipt-right">
				<p>
					<span>餐厅名称:</span>
					<input type="radio" name="name" checked="checked">
					<span>开启</span>
					<input type="radio" name="name">
					<span>关闭</span>
					<input type="text">
				</p>
				<p>
					<span>取餐号二维码:</span>
					<input type="radio" name="name" checked="checked">
					<span>开启</span>
					<input type="radio" name="name">
					<span>关闭</span>
					<span>（有取餐叫号屏幕时，建议开启）</span>
				</p>
			</div>
		</div>
	</div>
</body>
</html>
