<volist name="info" id="v" offset="0" length='1'>
    <div class="section flex-content vertical-flex">
        <div class="flex-main">
            <div class="img_horizontal" id="{$v.advertisement_id}">
                <img src="/{$v.advertisement_image_url}">
            </div>
        </div>
        <div class="text-right">
            <div class="section-row">
                <div class="file-content">
                    <button class="danger-btn-sm">选择图片</button>
                    <input type="hidden" value="{$v.advertisement_id}" />
                    <input type="file" name="default" onchange="preview1(this,2)">
                </div>
            </div>
        </div>
    </div>
</volist>
<volist name="info" id="v" offset="1">
    <div class="section flex-content vertical-flex">
        <div class="flex-main">
            <div class="img_horizontal" id="{$v.advertisement_id}">
                <img src="/{$v.advertisement_image_url}">
            </div>
        </div>
        <div class="text-right">
            <div class="section-row">
                <div class="file-content">
                    <button class="danger-btn-sm">选择图片</button>
                    <input type="hidden" value="{$v.advertisement_id}" />
                    <input type="file" name="change" onchange="preview1(this,2)">
                </div>
            </div>
            <button class="danger-btn-sm" onclick="deladver({$v.advertisement_id})">删除图片</button>
        </div>
    </div>
</volist>