<volist name="info1" id="v1" offset="0" length='1'>
    <div class="section flex-content vertical-flex">
        <div class="flex-main">
            <div class="img_vertical" id="{$v1.advertisement_id}">
                <img src="/{$v1.advertisement_image_url}">
            </div>
        </div>
        <div class="text-right">
            <div class="section-row">
                <div class="file-content">
                    <button class="danger-btn-sm">选择图片</button>
                    <input type="hidden" value="{$v1.advertisement_id}"/>
                    <input type="file" name="default" onchange="preview(this,2)">
                </div>
            </div>
        </div>
    </div>
</volist>
<volist name="info1" id="v1" offset="1">
    <div class="section flex-content vertical-flex">
        <div class="flex-main">
            <div class="img_vertical" id="{$v1.advertisement_id}">
                <img src="/{$v1.advertisement_image_url}">
            </div>
        </div>
        <div class="text-right">
            <div class="section-row">
                <div class="file-content">
                    <button class="danger-btn-sm">选择图片</button>
                    <input type="hidden" value="{$v1.advertisement_id}"/>
                    <input type="file" name="change" onchange="preview1(this,2)">
                </div>
            </div>
            <button class="danger-btn-sm" onclick="deladver1({$v1.advertisement_id},2,this)">删除图片</button>
        </div>
    </div>
</volist>