<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" href="__PUBLIC__/css/login.css?20180124">
    <title>餐饮店云管理</title>
</head>

<body>
    <div id="lang-content" class="login-wrapper" v-cloak>
        <header class="login-header">
            <img src="__PUBLIC__/images/admin_logo.png">
            <span>{{langData.founpadAdmin[lang]}}</span>
        </header>
        <div class="login-content flex-content">
            <form id="myform" class="login-left">
                <h3 class="login-title">{{langData.LoginTitle[lang]}}</h3>
                <input class="input" type="text" name="login_account" value="{$login_account}" :placeholder="langData.username[lang]">
                <input class="input" type="password" name="password" value="{$password}" :placeholder="langData.password[lang]"> 
                <label class="checkbox-content">
                    <if condition="$autoFlag eq 1">
                        <input type="checkbox" value="1" name="autoFlag" checked="checked" />
                        <else/>
                        <input type="checkbox" value="1" name="autoFlag" />
                    </if>
                    <span>{{langData.rememberPassword[lang]}}</span>
                </label>
                <div class="code-content flex-content flex-justify">
                    <input type="text" name="code" :placeholder="langData.verificationCode[lang]">
                    <img class="code-img" src="__CONTROLLER__/verifyImg" onclick="this.src='__CONTROLLER__/verifyImg/'+Math.random()">
                </div>
                
                <button class="form-control login-btn" type="button" id="loginBtn" onclick="commit()">{{langData.logIn[lang]}}</button>
                <input type="reset" id="reset" style="display: none;" />
            </form>
            <div class="login-right">
                <img src="__PUBLIC__/images/app.jpg">
                <div>{{langData.MobileAPPDownload[lang]}}</div>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/language.json"></script>
    <script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
    <script src="__PUBLIC__/js/Admin/common.js"></script>
    <script type="text/javascript">
    var vm = new Vue({
        el: "#lang-content",
        data: {
            lang: language,
            langData: langData
        }
    })
    var cloud = sessionStorage.getItem("cloud");
    if (cloud == 1) {
        $('body').css('height', $(window).height() / 2);
    }

    function loginHeight() {
        if ($('.login').height() > $('body').height()) {
            $('body').css('overflow', 'auto');
        } else {
            $('body').css('overflow', 'hidden');
        }
    }
    loginHeight();
    $(window).resize(function(event) {
        loginHeight();
    });
    $(document).keyup(function(event) {
        if (event.keyCode == 13) {
            commit();
        }
    });

    function commit() {
        var login_account = $("input[name='login_account']").val();
        var password = $("input[name='password']").val();
        var code = $("input[name='code']").val();
        var autoFlag = $("input[type='checkbox']").is(':checked');
        var login_way = 0; //登录入口(0:从后台路径登录，1：从收银端登录)
        if (autoFlag == true) {
            autoFlag = 1;
        } else {
            autoFlag = 0;
        }
        if (login_account && password) {
            $.ajax({
                type: "POST",
                url: "/index.php/admin/index/checklogin",
                async: true,
                data: { "login_account": login_account, "password": password, "code": code, "autoFlag": autoFlag, "login_way": login_way },
                dataType: "json",
                success: function(data) {
                    if (data.code != 1) {
                        layer.msg(vm.langData.verificationCodeError[vm.lang]);
                        $(".code-img").trigger('click');
                        $('input[name="code"]').val('');
                    } else {
                        sessionStorage.setItem("id", data.id);
                        //                    top.location.href = "/index.php/admin/index";
                        top.location.href = "/index.php/Admin/Index/index.html";

                    }
                }
            });
        } else {
            layer.msg(vm.langData.notEmpty[vm.lang])
        }
    }
    </script>
</body>

</html>