<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <!-- 自定义css样式表 -->
    <block name="css"></block>
    <!-- admin CSS 文件 -->
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css?v=20171215">
    <title>餐饮店云管理</title>
</head>
<block name="main"></block>
<script src="__PUBLIC__/js/vue.js"></script>
<script src="__PUBLIC__/language.json"></script>
<script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/layer/layer.js"></script>
<script src="__PUBLIC__/js/Admin-Restaurant/common.js"></script>
<block name="js"></block>
</html>