<div>
    <div class="chart-content">
        <div>总实收额</div>
        <div>{$income_sum}元</div>
    </div>
    <div class="chart-content">
        <div>总订单数</div>
        <div>{$order_count}单</div>
    </div>
    <!--<div class="chart-content">
        <div>总营业额</div>
        <div>{$total_price_sum}元</div>
    </div>-->
    <!--<div class="chart-content">
        <div>商家活动费</div>
        <div>{$shopPart_sum}元</div>
    </div>-->
    <div class="chart-content">
        <div>总服务费</div>
        <div>{$serviceFee_sum}元</div>
    </div>
    <div class="chart-content">
        <div>总配送金额</div>
        <div>{$deliverFee_sum}元</div>
    </div>
</div>