<div>
    <div class="chart-content">
        <div>总商家收入</div>
        <div>{$total['sum_restaurant_income']}元</div>
    </div>
    <!--<div class="chart-content">
        <div>总营业额</div>
        <div>{$total['total_price']}元</div>
    </div>-->
    <div class="chart-content">
        <div>总商品金额</div>
        <div>{$total['sum_goodsAmount']}元</div>
    </div>
    <div class="chart-content">
        <div>订单数</div>
        <div>{$total['all_num']}单</div>
    </div>
    <!--<div class="chart-content">
        <div>商家活动费</div>
        <div>{$total['sum_totalActivityAmount']}元</div>
    </div>-->
    <div class="chart-content">
        <div>总抽佣金额</div>
        <div>{$total['sum_chouyong']}元</div>
    </div>
    <!--<div class="chart-content">
        <div>平台服务费</div>
        <div>{$total['sum_chouyong']}元</div>
    </div>-->
    <div class="chart-content">
        <div>总配送金额</div>
        <div>{$total['sum_shippingAmount']}元</div>
    </div>
    <div class="chart-content">
        <div>总活动款</div>
        <div>{$total['sum_totalActivityAmount']}元</div>
    </div>
</div>