*{
	box-sizing: border-box;
}
* {
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
@media screen and (min-width: 320px) {
    html,body {font-size: 12px;}
}
@media screen and (min-width: 800px) {
    html,body {font-size: 14px;}
}
@media screen and (min-width: 900px) {
    html,body {font-size: 16px;}
}
 
@media screen and (min-width: 980px) {
    html,body {font-size: 18px;}
}
 
@media screen and (min-width: 1040px) {
    html,body {font-size: 20px;}
}
 
@media screen and (min-width: 1400px) {
    html,body {font-size: 22px;}
}
 
@media screen and (min-width: 1920px) {
    html,body {font-size: 28px;}
}

body{
	line-height: 2;
	background-color: black;
	color: #fff;	
}
ul{
	padding:0;
	margin: 0;
	list-style: none;
}
li{
	list-style: none;
	margin: 0;
}
button{
	outline: none;
}
.container-fluid,
.row{
	height: 100%;
}
.coming{
	background-color: #000;
	font-size: 3.5rem;
	line-height: 1.2;
	width: 42%;
	padding: 0;
}
.finish{
	background-color: #336600;
	font-size: 5rem;
	line-height: 1.15;
	padding-bottom: 4.5rem;
	width: 26%;
}
.finish footer{
	background-color: #336600;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 4.5rem;
	line-height: 4.5rem;
	font-size: 1.9rem;
	font-family: '黑体';
}
.coming,
.finish{
	height: 100%;
	padding-top: 5rem;
	text-align: center;
}
.coming header,
.finish header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 5rem;
	line-height: 5rem;
	font-size: 3rem;
}
.coming header{
	background-color: #323232;
}
.finish header{
	background-color: #55a803;
}
#comingCarousel,
#serverCarousel{
	width: 100%;
	height: 100%;
}
#comingCarousel li{
	float: left;
	width: 50%;
	text-align: center;
}
#serverCarousel{
	padding-top: 15px;
}
.ad{
	height: 100%;
	padding: 0;
	width: 32%;
}
.ad *{
	width: 100%;
	height: 100%;
}

.clerk{
	width: 100%;
	height: 100%;
	padding-top: 1rem;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}
.order-number{
	float: left;
	width: 18%;
	margin: 0.8%;
	border-radius: 1em;
	font-size: 2.4rem;
	color: #828282;
	background: -webkit-linear-gradient(#e6e6e6, #bcbcbc); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#e6e6e6, #bcbcbc); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#e6e6e6, #bcbcbc); /* Firefox 3.6 - 15 */
	background: linear-gradient(#e6e6e6, #bcbcbc); /* 标准的语法 */
	box-shadow: inset #f8f8f8 1px 5px 3px, 
				inset #7e7e7e -1px -3px 5px, 
				hsl(0, 0%, 60%) 0 1px 1px, 
				hsl(0, 0%, 45%) 0 1px 1px,
				#bcbcbc 0 1px 1px;
}
.order-check{
	display: block;
	width: 18%;
	float: left;
	margin: 0.8%;
	border-radius: 1em;
	font-size: 2.4rem;
	color: #fff;
	background: #5c6eac;
	box-shadow: none;
	/* 	background: linear-gradient(#bebebe, #3a3a3a);
		box-shadow: inset #707070 1px 5px 3px, inset #5e5e5e -1px -3px 5px, hsl(0, 0%, 60%) 0 1px 1px, hsl(0, 0%, 45%) 0 1px 1px, #bcbcbc 0 1px 1px;
	*/
}
.page-btn{
	line-height: 3.5rem;
	font-size: 3rem;
	background-color: transparent;
	border-radius: 5px;
	margin: 0 4rem;
}
#myModal{
	color: #343434;
	font-size: 1.6rem;
	letter-spacing: 3px;
}
#myModal .modal-dialog{
	display: table;
	height: 100%;
	overflow: hidden;
	margin: 0 auto;
	width: 22em;
}
#myModal .content{
	display: table-cell;
	vertical-align: middle;
	background-color: transparent;
	border: 0;
}
#myModal .modal-header{
	background: -webkit-linear-gradient(#c7c7c7, #edebec); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#c7c7c7, #edebec); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#c7c7c7, #edebec); /* Firefox 3.6 - 15 */
	background: linear-gradient(#c7c7c7, #edebec); /* 标准的语法 */
	height: 5rem;
	line-height: 5rem;
	padding: 0;
	font-size: 2.4rem;
	position: relative;
}
#myModal .modal-header .close-btn{
	position: absolute;
	display: block;
	right: 1rem;
	top: 5px;
	height: 4rem;
	line-height: 4rem;
	width: 4rem;
	border: 1px solid #acacac;
	border-radius: 50%;
	background-color: #fff;
	color: #ad0000;
	font-size: 36px;
}
#myModal .modal-body{
	padding: 1rem;
	background-color: #fff;
}
.modal-table{
	width: 100%;
}
.modal-btn{
	width: 6em;
	margin: 20px auto;
	letter-spacing: 0.5em;
	text-align: center;
	display: block;
	border-radius: 5px 5px 8px 8px;
	background: -webkit-linear-gradient(#c7c7c7, #afafaf); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#c7c7c7, #afafaf); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#c7c7c7, #afafaf); /* Firefox 3.6 - 15 */
	background: linear-gradient(#c7c7c7, #afafaf); /* 标准的语法 */
	box-shadow: inset #dedede 0 5px 3px,
				#6f6f6f 0 3px 2px;
	border-width:1px;
	border-style: solid;
	border-color: #d8d8d8 #d8d8d8 #6f6f6f #d8d8d8;
				
}

#ad-carousel .carousel-inner>.item>a>img,
#ad-carousel .carousel-inner>.item>img{
	height: 100%;
}