*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
}
[v-cloak]{
	display: none;
}
html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
}
@media screen and (min-width: 320px) {
    html,body {font-size: 12px;}
}
@media screen and (min-width: 800px) {
    html,body {font-size: 14px;}
}
@media screen and (min-width: 900px) {
    html,body {font-size: 16px;}
}
 
@media screen and (min-width: 980px) {
    html,body {font-size: 18px;}
}
 
@media screen and (min-width: 1040px) {
    html,body {font-size: 20px;}
}
 
@media screen and (min-width: 1400px) {
    html,body {font-size: 23.5px;}
}
 
@media screen and (min-width: 1920px) {
    html,body {font-size: 28px;}
} 
body{
	line-height: 2;
	background-color: black;
	color: #fff;	
}
.clear{ 
  *zoom: 1; 
} 
.clear:before, 
.clear:after { 
  display: table; 
  line-height: 0; 
  content: ""; 
} 
.clearfix:after { 
  clear: both; 
}

#showNumber{
	width: 100%;
	height: 100%;
}
.coming,
.finish,
.ad{
	position: relative;
	float: left;
	height: 100%;
	text-align: center;
}
.coming,
.finish{
	padding-top: 4.5rem;
}
.coming{
	width: 42%;
}
.finish{
	width: 26%;
	background-color: #336600;	
}
.ad{
	width: 32%;
	margin: 0;
	padding: 0;
}
.coming-header,
.finish-header{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 4.5rem;
	line-height: 4.5rem;
	font-size: 2rem;	
}
.coming-header{
	background-color: #323232;
}
.finish-header{
	background-color: #55a803;
}
.coming-content{
	padding-top: 0.4rem;
	line-height: 3.3rem;
	font-size: 2.8rem;
}
.finish-content{
	padding-bottom: 4.5rem;	
	line-height: 1.15;
	font-size: 5rem;	
	text-align: center;
}
.coming-content,
.finish-content,
.el-carousel,
.el-carousel__container,
.el-carousel__item{
	height: 100%;
}
.ad-img{
	width: 100%;
	height: 100%;
}