<extend name="Public:base" />
<block name="main">
	<header class="header">广告设置</header>	
	<section class="section">
		<header class="section-title">点餐机广告设置</header>
		<div class="flex-content flex-wrap section-row">
			<a class="index-item" href="{:U('Index/ad_horizontal')}">
				<div class="section-icon">
					<img src="__PUBLIC__/images/mobile/ad1.png">
				</div>
				<div>横屏点餐机</div>
			</a>
			<a class="index-item" href="{:U('Index/ad_vertical')}">
				<div class="section-icon">
					<img src="__PUBLIC__/images/mobile/ad2.png">
				</div>
				<div>竖屏点餐机</div>
			</a>
		</div>
	</section>
</block>