<extend name="Public:base" />
<block name="main">
	<header class="header">横屏广告设置</header>	
	<section class="content">
		<span>图片停留时间：</span>
		<input type="text" class="input-xs">
		<span>秒/张</span>
	</section>
	<section class="section">
		<div class="flex-content vertical-flex">
			<div class="flex-main">
				<div class="img_horizontal">
		            <img src="">
		        </div>
			</div>
	        <div class="text-right">
	        	<div class="section-row">
	        		<div class="file-content">
	        		    <button class="danger-btn-sm">选择图片</button>
	        		    <input type="file">
	        		</div>
	        	</div>
	        	<button class="danger-btn-sm">删除图片</button>
	        </div>
		</div>
	</section>
	<button class="danger-btn">
		<i class="iconfont icon-plus"></i>
	</button>
</block>