<extend name="Public:base" />
<block name="main">
	<include file="Public/header" title="顶部广告设置"/>
	<section class="section">
		<div class="flex-content vertical-flex">
			<div class="flex-main">
				<div class="img-vip-ad">
		            <img src="">
		        </div>
			</div>
	        <div class="text-right">
	        	<div class="section-row">
	        		<div class="file-content">
	        		    <button class="danger-btn-sm">选择图片</button>
	        		    <input type="file">
	        		</div>
	        	</div>
	        	<button class="danger-btn-sm">删除图片</button>
	        </div>
		</div>
	</section>
	<button class="danger-btn">
		<i class="iconfont icon-plus"></i>
	</button>
</block>