<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="section-row title">线上收款，支付宝官方要求先接入当面付</div>
		<button class="danger-btn-lg">点击这里，前往支付宝授权</button>
		<hr class="hr hr-lg">
		<div class="section-row">
			<span>支付宝PID：</span>
			<input type="text" class="input">
		</div>
		<button class="danger-btn-lg section-row">点击这里，前往支付宝授权</button>
		<div class="remarks section-row">未申请支付宝当面付商家，授权将无效！</div>
	</section>
	
	<div class="title text-center">建议商家从PC端进入设置。</div>
	<div class="remarks tips">
		<div>
			<span class="tips-icon">*</span>
			<span>支付宝要求商家自行申请</span>
		</div>
		<div>
			<span class="tips-icon">*</span>
			<span>PID可参阅操作说明</span>
		</div>
		<div>
			<span class="tips-icon">*</span>
			<span>若商家申请遇到问题，可联系客服，或建议直接对接银行代收，可即时上线。</span>
		</div>
		<div>
			<span class="tips-icon">*</span>
			<span>支付宝手续费请自行前往支付宝官方查询。</span>
		</div>
	</div>
</block>