<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="section-row">
			<span class="text-6">一码通商户号：</span>
			<input type="text" class="input">
		</div>
		<div class="section-row">
			<span class="text-6 text-right">密码：</span>
			<input type="text" class="input">
		</div>
		<div class="remarks section-row">本商户号为一码通的帐号密码。</div>
	</section>
	<button class="danger-btn-lg">保存设置</button>
	<div class="remarks tips">
		<div>
			<span class="tips-icon">*</span>
			<span>手续费：由民生银行一码通标准，现微信与支付宝都为0.55%。</span>
		</div>
		<div>商家达到20万时，自动降为0.48%。
		</div>
		<div>商家达到50万时，自动降为0.38%。</div>
		<div>
			<span class="tips-icon">*</span>
			<span>对接申请方便快捷，即时当天上线，请联系客服申请。</span>
		</div>
		<div>
			<span class="tips-icon">*</span>
			<span>银行代收不支持餐桌扫码点餐、会员。</span>
		</div>
		<div>
			<span class="tips-icon">*</span>
			<span>一码通APP下载，收款即时通知、对帐等。</span>
		</div>
	</div>
</block>