<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="flex-content vertical-flex section-row">
			<span class="text-5">打印机名称：</span>
			<input type="text" class="input-md">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-5">IP地址：</span>
			<input type="text" class="input-md">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-5">端口号：</span>
			<input type="text" class="input-md">
			<span class="remarks">&nbsp;默认9100</span>
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-5">备注：</span>
			<input type="text" class="input-md">
			<span class="remarks">&nbsp;非必填</span>
		</div>
		<div class="clear">
			<div class="bill-demo-content">
				<div class="bill-demo-icon active">
					<img src="__PUBLIC__/images/mobile/bill2.png">	
				</div>
				<div class="text-center">80票据</div>
			</div>
			<div class="bill-demo-content">
				<div class="bill-demo-icon">
					<img src="__PUBLIC__/images/mobile/bill1.png">
				</div>
				<div class="text-center">40*30标签</div>
				<div class="text-center remarks">(适用于饮品店）</div>
			</div>
		</div>
	</section>
	<button class="danger-btn-lg">保存设置</button>
</block>