<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="classify-list flex-content vertical-flex">
			<img src="__PUBLIC__/images/mobile/bill1.png" class="icon-sm">
			<div class="flex-main classify-name">饮料打印机</div>
			<div class="text-6">192.168.1.200</div>
			<button class="default-btn" onclick="location='{:U(\'Index/bill_edit\')}'">修改</button>
			<button class="default-btn">删除</button>
		</div>
		<div class="classify-list flex-content vertical-flex">
			<img src="__PUBLIC__/images/mobile/bill2.png" class="icon-sm">
			<div class="flex-main classify-name">饮料打印机</div>
			<div class="text-6">192.168.1.200</div>
			<button class="default-btn" onclick="location='{:U(\'Index/bill_edit\')}'">修改</button>
			<button class="default-btn">删除</button>
		</div>
		<button class="danger-btn">
			<i class="iconfont icon-plus"></i>
		</button>
	</section>

</block>