<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="classify-list flex-content vertical-flex">
			<img src="__PUBLIC__/images/burger.png" class="icon-sm">
			<div class="flex-main classify-name">菜品分类1</div>
			<button class="default-btn" onclick="location='{:U(\'Index/classify_edit\')}'">修改</button>
			<button class="default-btn">删除</button>
			<button class="default-btn">上移</button>
			<button class="default-btn">下移</button>
		</div>
		<div class="classify-list flex-content vertical-flex">
			<img src="__PUBLIC__/images/burger.png" class="icon-sm">
			<div class="flex-main classify-name">菜品分类1</div>
			<button class="default-btn" onclick="location='{:U(\'Index/classify_edit\')}'">修改</button>
			<button class="default-btn">删除</button>
			<button class="default-btn">上移</button>
			<button class="default-btn">下移</button>
		</div>
		<div class="classify-list flex-content vertical-flex">
			<img src="__PUBLIC__/images/burger.png" class="icon-sm">
			<div class="flex-main classify-name">菜品分类1</div>
			<button class="default-btn" onclick="location='{:U(\'Index/classify_edit\')}'">修改</button>
			<button class="default-btn">删除</button>
			<button class="default-btn">上移</button>
			<button class="default-btn">下移</button>
		</div>
		<div class="classify-list flex-content vertical-flex">
			<img src="__PUBLIC__/images/burger.png" class="icon-sm">
			<div class="flex-main classify-name">菜品分类1</div>
			<button class="default-btn" onclick="location='{:U(\'Index/classify_edit\')}'">修改</button>
			<button class="default-btn">删除</button>
			<button class="default-btn">上移</button>
			<button class="default-btn">下移</button>
		</div>
		<button class="danger-btn">
			<i class="iconfont icon-plus"></i>
		</button>
	</section>

</block>