<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="section-row flex-content vertical-flex">
			<div>分类名称：</div>
			<input type="text" class="flex-main input">
		</div>
		<div class="section-row flex-content vertical-flex">
			<span>分类图标：</span>
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
		</div>
		<div class="section-row">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
			<img src="__PUBLIC__/images/Burger.png" class="icon-sm">
		</div>
	</section>
	<section class="section">
		<div class="section-row">
			<span>星期日定时设置</span>
			<div class="checkbox-switch">
				<input type="checkbox">
				<label></label>
			</div>
			<span class="remarks">指定星期、时间显示</span>
		</div>
		<div class="section-row">
			<input type="text" class="input-time">
			<span>至</span>
			<input type="text" class="input-time">
		</div>
		<div>	
			<label class="checkbox">
				<input type="checkbox">
				<span>周一</span>
			</label>
			<label class="checkbox">
				<input type="checkbox">
				<span>周二</span>
			</label>
			<label class="checkbox">
				<input type="checkbox">
				<span>周三</span>
			</label>
			<label class="checkbox">
				<input type="checkbox">
				<span>周四</span>
			</label>
			<label class="checkbox">
				<input type="checkbox">
				<span>周五</span>
			</label>
			<label class="checkbox">
				<input type="checkbox">
				<span>周六</span>
			</label>
			<label class="checkbox">
				<input type="checkbox">
				<span>周日</span>
			</label>
		</div>
		<hr class="hr">
		<button class="danger-btn">
			<i class="iconfont icon-plus"></i>
		</button>
	</section>
	<section class="section">
		<div class="section-row">
			<span>日期定时设置</span>
			<div class="checkbox-switch">
				<input type="checkbox">
				<label></label>
			</div>
			<span class="remarks">指定日期、时间显示</span>
		</div>
		<div class="section-row">
			<span>日期：</span>
			<input type="text" class="input-time">
			<span>至</span>
			<input type="text" class="input-time">
		</div>
		<div class="section-row">
			<span>时间：</span>
			<input type="text" class="input-time">
			<span>至</span>
			<input type="text" class="input-time">
		</div>
		<hr class="hr">
		<button class="danger-btn">
			<i class="iconfont icon-plus"></i>
		</button>
	</section>
	<button class="danger-btn-lg">保存设置</button>
</block>