<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="flex-content vertical-flex section-row">
			<div class="flex-main">
				<span class="text-6">规格分类名称：</span>
				<input type="text" class="input-sm">
			</div>
			<button class="default-btn">删除</button>
		</div>
		<div class="section-row">
			<span class="text-6">厨房打印机：</span>
			<div class="select-reset">
				<select>
					<option>不设打印</option>
				</select>
			</div>
		</div>
		<div class="section-row">
			<span class="text-6">标签打印机：</span>
			<div class="select-reset">
				<select>
					<option>不设打印</option>
				</select>
			</div>
		</div>
		<div class="section-row">
			<span class="text-6">统计：</span>
			<div class="checkbox-switch">
				<input type="checkbox" name="">
				<label></label>
			</div>
		</div>
		<div class="section-row">
			<span class="text-6">选择：</span>
			<label class="radio">
				<input type="radio" name="select">
				<i class="circle-icon"></i>
				<span>单选</span>
			</label>
			<label class="radio">
				<input type="radio" name="select">
				<i class="circle-icon"></i>
				<span>多选</span>
			</label>
		</div>
		<hr class="hr">
		<div class="flex-content vertical-flex section-row">
			<div class="flex-main">
				<span>规格：</span>
				<input type="text" class="input-sm">
				<span>叠加：</span>
				<input type="text" class="input-xs">
				<span>元</span>
			</div>
			<button class="default-btn">删除</button>
		</div>
		<div class="flex-content vertical-flex section-row">
			<div class="flex-main">
				<span>规格：</span>
				<input type="text" class="input-sm">
				<span>叠加：</span>
				<input type="text" class="input-xs">
				<span>元</span>
			</div>
			<button class="default-btn">删除</button>
		</div>
		<button class="danger-btn">
			<i class="iconfont icon-plus"></i>
		</button>
	</section>
    <button class="danger-btn-lg">新增分类</button>
</block>