<extend name="Public:base" />
<block name="main">
	<header class="header">饿了么</header>
	<div class="content flex-content vertical-flex">
		<div class="flex-main food-chart-head">
			<div class="flex-content vertical-flex">
				<span>日期：</span>
				<input type="text" class="input flex-main datepicker-start">
				<span class="text-2 text-center">至</span>
				<input type="text" class="input flex-main datepicker-end">
			</div>
		</div>
		<button class="danger-btn-sm">查询</button>
	</div>
	<div>
		<div class="chart-content">
			<div>实际收入</div>
			<div>500.00</div>
		</div>
		<div class="chart-content">
			<div>总营业额</div>
			<div>999.00元</div>
		</div>
		<div class="chart-content">
			<div>订单数</div>
			<div>500.00元</div>
		</div>
		<div class="chart-content">
			<div>商家活动费</div>
			<div>999.00元</div>
		</div>
		<div class="chart-content">
			<div>平台服务费</div>
			<div>500.00元</div>
		</div>
	</div>
	<div class="remarks tips">
		<div>
			<span class="tips-icon">*</span>
			<span>对接后，在点餐机上面进入饿了么设置自动接单、打印机。</span>
		</div>
		<div>
			<span class="tips-icon">*</span>
			<span>注：自动接单只限一台设备，设备包含手机、点餐机、APP等等。若在收银机上接单，应关闭APP、手机等饿了么自动接单功能。
			</span>
		</div>
</block>
<block name="js">
	<include file="Public:date" />
</block>