<extend name="Public:base" />
<block name="main">
	<section class="section">
		<table class="w100 text-center table-striped">
			<tbody>
				<tr>
					<td>姓名</td>
					<td>账号</td>
					<td>角色</td>
					<td></td>
				</tr>
				<tr>
					<td>张三张三</td>
					<td>137111510261</td>
					<td>店长</td>
					<td class="text-right">
						<button class="default-btn" onclick="location='{:U(\'Index/role_edit\')}'">修改</button>
						<button class="default-btn">删除</button>
					</td>
				</tr>
				<tr>
					<td>张三张三</td>
					<td>137111510261</td>
					<td>店长</td>
					<td class="text-right">
						<button class="default-btn" onclick="location='{:U(\'Index/role_edit\')}'">修改</button>
						<button class="default-btn">删除</button>
					</td>
				</tr>

			</tbody>
		</table>
		<button class="danger-btn">
			<i class="iconfont icon-plus"></i>
		</button>
	</section>
	<div class="remarks">本帐号用于收银登录。</div>
</block>