<extend name="Public:base" />
<block name="main">
	<section class="section">
		<div class="flex-content vertical-flex">
			<img src="__PUBLIC__/images/avatar.png" class="store-icon">
			<div class="file-content">
				<button class="danger-btn-sm">上传LOGO</button>
				<input type="file" name="">
			</div>
		</div>
	</section>
	<section class="section">
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">店铺名称：</span>
			<input type="text" class="flex-main input">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">外卖电话：</span>
			<input type="text" class="flex-main input">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">服务电话：</span>
			<input type="text" class="flex-main input">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">地址：</span>
			<textarea class="flex-main textarea" rows="2"></textarea>
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">账号：</span>
			<input type="text" class="flex-main input" readonly value="123143">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">修改密码：</span>
			<input type="password" class="flex-main input">
		</div>
		<div class="flex-content vertical-flex section-row">
			<span class="text-4">确认密码：</span>
			<input type="password" class="flex-main input">
		</div>
	</section>
	<button class="danger-btn-lg">保存设置</button>
</block>