<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- Bootstrap 核心 CSS 文件 -->
		<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
		
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/member.css">

		<!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->

		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>

		<title>积分明细</title>
	</head>

	<body>
		<header class="common-header integration-header">
		    <div class="container-fluid">
		        <div class="row">
		            <div class="col-xs-4 text-left">
		                <a href="/index.php/Mobile/Member/index" class="return">
		                    <img src="__PUBLIC__/images/lt.png">
		                </a>
		            </div>
		            <div class="col-xs-4 text-center">
		                会员积分
		            </div>
		        </div>
		    </div>
		</header>
		<div class="integration-info">
			<div>积分总额</div>
			<div class="integration-num">{$total_score}</div>
		</div>
		<div class="integration-content">
                <table class="table text-center">
                    <tr>
                        <td>消费日期</td>
                        <td>消费描述</td>
                        <td>积分状况</td>
                    </tr>

                    <foreach  name="score_detail" item="v" key="k">
                        <foreach name="v" item="val" key="ke">
                            <?php if(!empty($val)): ?>
                            <tr>
                                <td colspan="3" class="integration_month">{$k}年{$ke}月：</td>
                            </tr>
                            <foreach name="val" item="value">
                                <tr>
                                    <td>{:date('Y-m-d H:i:s',$value['pay_time'])}</td>
                                    <td>消费{$value['total_amount']}元</td>
                                    <td>{$value['score']}分</td>
                                </tr>
                            </foreach>
                            <?php endif; ?>
                        </foreach>
                    </foreach>

                </table>
		</div>
	</body>
</html>
