<include file="Public/head"/>
<body class="body-hide">
	<header class="admin-header">
		<div class="container-fluid clearfix">
			<div class="pull-left header-title">方雅点餐系统 | 代理商后台</div>
			<div class="pull-right header-user">
				<p>尊敬的：{$Think.session.xx_name}</p>
				<button class="btn-none" onclick="loginout()">退出</button>
			</div>
		</div>
	</header>

	<!-- 左侧导航栏 -->	
	<aside class="sidebar">
		<ul class="sidebar-menu">
			<li class="treeview">
				<a href="{:U('Business/index')}" target='rightFrame' class="active">代理商信息</a>
			</li>
			<li class="treeview">
				<div class="treeview-header">
					<span>店鋪</span>
					<div class="pull-right-container plus-icon"></div>
				</div>
				<ul class="treeview-menu">
					<li>
						<a href="{:U('Store/index')}" target='rightFrame'>店铺列表</a>
					</li>
					<li>
						<a href="{:U('Store/manager')}" target='rightFrame'>店铺管理员</a>
					</li>
					<li>
						<a href="{:U('Count/device')}" target='rightFrame'>店铺设备</a>
					</li>
					<li>
						<a href="{:U('code/codeList')}" target='rightFrame'>注册码</a>
					</li>
				</ul>
			</li>
			<li class="treeview">
				<div class="treeview-header">
					<span>统计</span>
					<div class="pull-right-container plus-icon"></div>
				</div>
				<ul class="treeview-menu">
					<li>
						<a href="{:U('Count/index')}" target='rightFrame'>店铺营业情况</a>
					</li>
				</ul>
			</li>
		</ul>
	</aside>

	<iframe id="rightFrame" name="rightFrame" scrolling="auto" src="{:U('Business/index')}"></iframe>

</body>
<script>
	function loginout(){
		var msg = confirm("确定要退出？");
		if(msg == true){
			$.ajax({
				type:"get",
				url:"/index.php/business/Index/loginout",
				async:true,
				dataType:"json",
				success:function(data){
					if(data.code == 1){
						location.href = "/index.php/business/Index/login";
					}
				}
			});
		}
	}
</script>
</html>
