<include file="Public/head"/>
<!-- 收银 -->
<body class="order-body">
<input type="hidden" name="isOpenNum" id="isOpenNum" value="{$isOpenNum}">
	<header class="home-header">
		<a href="__CONTROLLER__/index" class="order-return">
			<img src="__PUBLIC__/images/lt.png">
			<span>重新点餐</span>
		</a>
		<input type="hidden" name="shu_tpl" value="{$shu_tpl}" id="shu_tpl"/>
		<div class="text-center order-head">自助点餐系统</div>
	</header>

	<div class="order">
		<!-- 左边分类 start -->
		<div class="order-left">
			<ul class="sorts-list">
				<volist name = "info" id = "v">
					<li>
						<a href="" data-toggle="tab" id="category_type" onclick="showtypefood({$v.food_category_id})">
							<!-- <img src="/{$v.image}" class="center-block"> -->
							<span>{$v.food_category_name}</span>
						</a>
					</li>
				</volist>
			</ul>
		</div> <!-- 左边分类 end -->

		<!-- 中间菜品列表 start -->
		<div class="order-content" id="food_info">
			<div class="container-fluid">
				<div class="row">
					<volist name = "info1" id = "v1">
						<div class="col-xs-6">
							<a href="javascript:void(0)" class="food-item"  data-toggle="modal" data-target="#foodModal" data-food_id="{$v1.food_id}" onclick="findfoodinfo(this)">
								<div class="food-box">
									<div class="food-box-img">
										<img src="/{$v1.food_img}">
									</div>
									<div class="clearfix">
										<div class="pull-left">
											<div class="star">
												<if condition = "$v1.star_level eq 1">
													<span></span>
												</if>
												<if condition = "$v1.star_level eq 2">
													<span>★★</span>
												</if>
												<if condition = "$v1.star_level eq 3">
													<span>★★★</span>
												</if>
												<if condition = "$v1.star_level eq 4">
													<span>★★★★</span>
												</if>
												<if condition = "$v1.star_level eq 5">
													<span>★★★★★</span>
												</if>
											</div>
										</div>
										<div class="pull-right text-right">
											<div class="cayenne">
												<if condition = "$v1.hot_level eq 0">
													
												</if>
												<if condition = "$v1.hot_level eq 1"></if>
												<if condition = "$v1.hot_level eq 2">
													<img src="__PUBLIC__/images/cayenne.png">
													<img src="__PUBLIC__/images/cayenne.png">
												</if>
												<if condition = "$v1.hot_level eq 3">
													<img src="__PUBLIC__/images/cayenne.png">
													<img src="__PUBLIC__/images/cayenne.png">
													<img src="__PUBLIC__/images/cayenne.png">
												</if>
											</div>
										</div>
									</div>
								</div>
								<div class="food-details">
									<div class="food-name">{$v1.food_name}</div>
									<div class="food-price">&yen;{$v1.food_price}</div>
								</div>
							</a>
						</div>
					</volist>
				</div>
			</div>
		</div><!-- 菜品列表 end -->
	</div>

	<!-- 底部已选菜品 start -->
	<div class="order-bottom">
		<div class="order-bottom-head text-right">
			<!--<span>您的餐牌号为19，</span>-->
			<span>合计：</span>
			<span id="Total">0.00</span>元
			
		</div>
		<div class="food-select-list">
			<!-- 菜品选择列表 start -->
			<div class="food-select clearfix" id="foodlist">

			</div><!-- 菜品选择列表 end -->
		</div>
		<div class="food-select-bottom text-center">
			<button id="placeOrder" class="common-btn confirm-btn" onclick="PlaceOrder2()">
				<span>立即下单</span>
			</button>
		</div>
	</div><!-- 右边已选菜品 end -->

	<!-- 菜品Modal -->
	<div class="modal" id="foodModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog" id="modelfood">

		</div>
	</div>

	<!-- 餐桌号Modal -->
	<div class="modal" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="tableModal-return">
				<button class="btn-none" data-dismiss="modal">
					<span>&lt;</span>
					<span>返回点餐</span>
				</button>
			</div>
			<div class="number text-center">
				<div class="number-tips">1.领取点餐机旁边的餐牌号</div>
				<div class="number-tips">2.输入餐牌号，按确认</div>
				<div class="number-input">
					<input type="text" id="numtext" readonly="readonly" value="" data-order_type="{$Think.get.order_type}">
					<button id="btn" onclick="placeor()">确认</button>
				</div>
				<div class="number-table clearfix">
					<div class="pull-left">
						<table>
							<tr>
								<td>
									<button class="num-btn">1</button>
								</td>
								<td>
									<button class="num-btn">2</button>
								</td>
								<td>
									<button class="num-btn">3</button>
								</td>
							</tr>
							<tr>
								<td>
									<button class="num-btn">4</button>
								</td>
								<td>
									<button class="num-btn">5</button>
								</td>
								<td>
									<button class="num-btn">6</button>
								</td>
							</tr>
							<tr>
								<td>
									<button class="num-btn">7</button>
								</td>
								<td>
									<button class="num-btn">8</button>
								</td>
								<td>
									<button class="num-btn">9</button>
								</td>
							</tr>
						</table>
					</div>
					<div class="pull-left number-table-right">
						<table>
							<tr>
								<td>
									<button class="num-btn">0</button>
								</td>
							</tr>
							<tr>
								<td>
									<button id="del-num"><p>删</p>除</button>
								</td>
							</tr>
						</table>
					</div>
				</div>				
			</div>
		</div>
	</div>
</body>
<script>
	$(function(){
		$('.order').css('margin-top', $('.home-header').height());
		$('.order').height(function(){
			return $(window).height()-$('.home-header').height()-$('.order-bottom').height();
			console.log($('.home-header').height()+','+$('.order-bottom').height());
		});
	});
	$(window).resize(function(event) {
		$('.order').css('margin-top', $('.home-header').height());
		$('.order').height(function(){
			return $(window).height()-$('.home-header').height()-$('.order-bottom').height();
			console.log($('.home-header').height()+','+$('.order-bottom').height());
		});
	});
	$(function(){
		var pagenum = $("table_num").val();
		if(!pagenum){
			pagenum = 000;
		}
		$('#Tables').html(pagenum);
	});

	function showtypefood(i){
		//alert(i);
		$.ajax({
			type:"get",
			url:"/index.php/Vertical/index/showtypefood/type/"+i+"",
			//dataType:"json",
			success:function(data){
				$("#food_info").html(data);
			}
		});
	}

	function findfoodinfo(obj){
		var i = $(obj).data('food_id');
		$.ajax({
			type:"get",
			url:"/index.php/Vertical/index/findfoodinfo/food_id/"+i+"",
			//dataType:"json",
			success:function(data){
				$("#modelfood").html(data);//加载模态框

			}
		});
	}

	function PlaceOrder2() {
		var total = Number($("#Total").html()).toFixed(2);
		//获取餐牌功能的工作状态
		var isOpenNum = $("#isOpenNum").val();
		if(isOpenNum != 0 && total > 0){
			console.log(isOpenNum);
		//如果则弹出模态框
			$("#tableModal").modal("show");
		} else{
			placeor();
		}
	}

	function placeor(){
		var total = Number($("#Total").html()).toFixed(2);
		var isOpenNum = $("#isOpenNum").val();
		if(isOpenNum != 0 && total != 0){
			var tableNum = Number($("#numtext").val());
			if(!tableNum || tableNum == 0){
				layer.msg('餐牌号不能为空或者为0，谢谢',{
					title: false,
					closeBtn: 0,
					shadeClose: true,
					skin: 'layer-class',
					area: '80%',
					time: 1000
				});
				return
			}
			$.ajax({
				url:"/index.php/vertical/index/setTableNum",
				type:'post',
				data:{"tableNum":tableNum},
				dataType:"json",
				success:function(msg){
					if(msg.code == 1){
						console.log(1111);
					}
				},
				error:function(){
					alert("出错了");
				}
			});
		}
		if(total == 0) {
			layer.msg('请先选择菜品，谢谢',{
				title: false,
				closeBtn: 0,
				shadeClose: true,
				skin: 'layer-class',
				area: '80%',
				time: 1000
			});
		} else{
			var list = {};
			$('#foodlist section').each(function(k,v){
				var temp = [];
				temp["0"] = $(this).data("food_id");
				temp["1"] = $(this).data("food_num");
				temp["2"] = $(this).data("attrs");
				list[k] = temp;
			});
			console.log(list);
			$.ajax({
				type: "post",
				url: "__CONTROLLER__/PlaceOrder/order_sn/{$Think.get.order_sn}",
				data: list,
				dataType: 'json',
				success: function (data) {
					if (data.code == 1) {
						var order_sn = data.data['order_sn'];
						var Total = $("#Total").html();
						window.location.href = "/index.php/Vertical/index/processRoute/process/order/price/" + Total + "/order_sn/" + order_sn;
					}
				},
				error: function () {
					alert("there is a error!");
				}
			});
		}
	}
</script>
</html>