<include file="Public/head"/>
<body class="members">
	<div class="container-fluid">
        <form>
            <div id="memberList">
                <div class="member-tab-item2" id="delScore">
                    消费金额
                    <input type="text" name="account" value="{$prepaid_rules[account]}" id="man">元，积分
                    <input type="text" name="benefit" value="{$score}" id="zhe">分
                    <input type="hidden" name="id" value="{$prepaid_rules[id]}"/>
                    <div class="tab-item-right">
                        <button class="btn btn-primary" onclick="return save_point_set(this)">保存</button>
                        <button class="btn btn-danger" onclick="return shanchu_point_set(this,'/index.php/Agent/Members/del_point_set')">删除</button>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade add-content" id="addModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">新增消费折扣</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-group">
                            消费金额：
                            <input type="text" class="form-control">元，积分
                            <input type="text" class="form-control">元
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary">新增</button>
                </div>
            </div>
        </div>
    </div>
	</div>
    <script src="__PUBLIC__/js/vip.js"></script>

    <script>
        // 积分设置后面的保存
        function save_point_set(obj){
            var account = $(obj).parent().siblings('[name="account"]').val();
            var benefit = $(obj).parent().siblings('[name="benefit"]').val();
            var id = $(obj).parent().siblings('[name="id"]').val();
            if(account == "" || benefit == ""){
                alert("积分设置信息不能为空");
            } else{
                // ajax提交
                $.post('/index.php/Agent/Members/save_point_set',{"account": account, "benefit": benefit, "id":id},function(data){
                    // console.log(data);
                    alert(data.info);
                    $.post('/index.php/Agent/Members/get_point_set',"",function(data){
                        // 成功添加了就实时获取
                        $("#memberList").html(data);
                    });
                });
            }
            return false;
        }

        // 积分设置删除
        function shanchu_point_set(obj,url){
            layer.confirm('您确定要删除吗？', {icon:3}, function(index){
                // 获取到它的ID，然后删除掉即可
                var hid = $(obj).parent().siblings("[name='id']").val();
                // ajax提交
                $.post(url,{"id":hid},function(data){
                    // console.log(data);
                    if(data.status == 0){
                        // 不成功
                        alert(data.info);
                    }else{
                        // 成功添加了就实时获取
                        $("#memberList").html(data);
                    }
                });
                layer.close(index);
            });
            return false;
        }
    </script>
</body>
</html>
