<extend name="Public:base" />
<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap-datetimepicker-master/bootstrap-datetimepicker.min.css">
</block>
<block name="main">
    <div class="clearfix">
        <!-- 菜品分类 start -->
        <section class="section dishes-classify">
            <div class="section-header clearfix">
                <span>{{langData.dishesCategory[lang]}}</span>
                <div class="pull-right">
                    <button class="blue-btn" data-toggle="modal" onclick="show_addSort()">+{{langData.addCategory[lang]}}</button>
                </div>
            </div>
            <div class="section-content" id="mytype">
                <table class="dishes-classify-table">
                    <volist name="data" id="v">
                        <tr data-food_category_id="{$v.food_category_id}">
                            <td class="text-right">{$key+1}</td>
                            <td>
                                <button class="rank-up" data-sort="{$v.sort}" data-food_category_id="{$v.food_category_id}" onclick="moveup1(this)"></button>
                                <button class="rank-down movedown" data-sort="{$v.sort}" data-food_category_id="{$v.food_category_id}" onclick="movedown1(this)"></button>
                            </td>
                            <td>
                                <button data-id="{$v.food_category_id}" onclick="showinfo(this)">{$v['food_category_name']}</button>
                                <br/>{$v.food_category_name_en}
                            </td>
                            <td class="text-right">
                                <button class="edit-btn" data-toggle="modal" data-target="#addSort" onclick="modify1({$v.food_category_id})" id="modify">
                                </button>
                                <button class="remove-btn" onclick="deltype({$v.food_category_id})"></button>
                            </td>
                        </tr>
                    </volist>
                </table>
            </div>
        </section>
        <!-- 菜品分类 end -->
        <!-- 菜品列表 start -->
        <section class="section dishes-list">
            <div class="section-header clearfix">
                <span>{{langData.dishesSet[lang]}}</span>
                <div class="pull-right">
                    <button class="blue-btn" onclick="location.href='/index.php/admin/Dishes/add'">+{{langData.addDishes[lang]}}</button>
                </div>
            </div>
            <div class="section-content" id="mytr">
                <table class="dishes-list-table">
                    <volist name="info" id="v">
                        <tr>
                            <td>{$key+1}</td>
                            <td>
                                <button class="rank-up" data-index="{$key+1}" data-sort="{$v.sort}" data-food_id="{$v.food_id}" onclick="moveup(this)"></button>
                                <button class="rank-down movedown" data-index="{$key+1}" data-sort="{$v.sort}" data-food_id="{$v.food_id}" onclick="movedown(this)"></button>
                            </td>
                            <td>
                                <img src="/{$v.food_img}" class="dishes-list-img">
                            </td>
                            <td class="dishes-list-name">
                                <span>{$v.food_name} {$v.food_name_en}</span>
                                <div class="section-tips">{{langData.classification[lang]}}:{$v.cateData}</div>
                            </td>
                            <td class="dishes-list-price">{$v.food_price}{{langData.yuan[lang]}}</td>
                            <td class="dishes-list-star">
                                <span class="showStar">
                                    <if condition="$v.star_level eq 1"></if>
                                    <if condition="$v.star_level eq 2">★★</if>
                                    <if condition="$v.star_level eq 3">★★★</if>
                                    <if condition="$v.star_level eq 4">★★★★</if>
                                    <if condition="$v.star_level eq 5">★★★★★</if>
                                </span>
                                <if condition="$v.hot_level eq 0"></if>
                                <if condition="$v.hot_level eq 1"> <img src="__PUBLIC__/images/cayenne.png" class="showCayenne"></if>
                                <if condition="$v.hot_level eq 2"> <img src="__PUBLIC__/images/cayenne.png" class="showCayenne"> <img src="__PUBLIC__/images/cayenne.png" class="showCayenne"></if>
                                <if condition="$v.hot_level eq 3"> <img src="__PUBLIC__/images/cayenne.png" class="showCayenne"> <img src="__PUBLIC__/images/cayenne.png" class="showCayenne"> <img src="__PUBLIC__/images/cayenne.png" class="showCayenne"></if>
                            </td>
                            <td class="dishes-list-price">{$v.foods_num_day}{{langData.copies[lang]}}</td>
                            <!-- <td>
                                <eq name="v.is_prom" value="0">
                                    <span>关闭</span>
                                    <else/>
                                    <span>开启</span>
                                </eq>
                            </td>
                            
                            <eq name="v.is_sale" value="0">
                                <td>下架</td>
                                <else/>
                                <td>上架</td>
                            </eq> -->
                            <td class="text-right">
                                <div class="checkbox-switch">
                                    <eq name="v.is_sale" value="1">
                                        <input type="checkbox" onclick="changestatu({$v.food_id})" checked="checked">
                                        <else/>
                                        <input type="checkbox" onclick="changestatu({$v.food_id})">
                                    </eq>
                                    <label></label>
                                </div>
                            </td>
                            <td class="dishes-list-operation">
                                <button class="edit-btn" onclick="modify_food(this)" data-food_id="{$v.food_id}"></button>
                                <button class="remove-btn" onclick="delfoodinfo({$v.food_id})"></button>
                            </td>
                        </tr>
                    </volist>
                </table>
                <div class="text-center">
                    <ul class="pagination" id="detail-page" v-if="lang=='zh-CN'">{$page1}</ul>
                    <ul class="pagination" id="detail-page" v-if="lang=='zh-TW'">{$page2}</ul>
                    <ul class="pagination" id="detail-page" v-if="lang=='en'">{$page3}</ul>
                </div>
            </div>
        </section>
        <!-- 菜品列表 end -->
    </div>
</block>
<block name="modal">
    <!-- 新增分类模态框（Modal） -->
    <div class="modal fade dishesClassifyModal" id="addSort" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="myform" action="javascript:void(0)">
                    <div class="modal-header">
                        <button type="button" class="close-btn" data-dismiss="modal" aria-hidden="true" id="close_btn"></button>
                        <h4 class="modal-title">{{langData.dishesCategorySettings[lang]}}</h4>
                    </div>
                    <div class="modal-body">
                        <input type="hidden" name="way" id="way" />
                        <input type="hidden" name="food_category_id" id="food_category_id" />
                        <input type="hidden" name="restaurant_id" id="restaurant_id" />
                        <div class="modal-item">
                            <span>{{langData.CategoryChineseName[lang]}}:</span>
                            <input type="text" name="food_category_name" id="food_category_name">
                        </div>
                        <if condition="$is_en">
                            <div class="modal-item">
                                <span>{{langData.categoryEnglishName[lang]}}:</span>
                                <input type="text" name="food_category_name_en" id="food_category_name_en">
                            </div>
                        </if>
                        <div class="modal-item">
                            <span>{{langData.customIcon[lang]}}:</span>
                            <div class="file-content blue-btn">
                                <span>{{langData.customIcon[lang]}}</span>
                                <input type="file" name="user_define_img" onchange="preview(this)" id="user_define_img">
                            </div>
                        </div>
                        <input type="hidden" name="ico_category_type" id="ico_category_type" value="0" />
                        <div class="modal-item">
                            <span>{{langData.iconPreview[lang]}}:</span>
                            <img src="__PUBLIC__/images/defaultFoodCate1.png" class="classify-icon" id="classify-icon">
                            <input type="hidden" name="img_url" id="img_url" value="__PUBLIC__/images/defaultFoodCate1.png" />
                        </div>
                        <div>
                            <foreach name="ico_detail" item="vo">
                                <img src="{$vo['photo']}" class="classify-icon" onclick="point_img(this.src)">
                            </foreach>
                        </div>
                        <div class="modal-item">
                            <span>{{langData.setAsTiming[lang]}}</span>
                            <div class="checkbox-switch">
                                <input type="checkbox" name="is_timing" id="is_timing" onchange="showtime2()">
                                <label></label>
                            </div>
                            <!--         <input type="radio" name="is_timing" value="0" onclick="hiddentime2()" checked="checked"> 关闭
                            <input type="radio" name="is_timing" value="1" onclick="showtime2()">开启 -->
                        </div>
                        <div id="show2" class="modal-item">
                            <ul id="myTab" class="nav nav-tabs">
                                <li class="active">
                                    <a href="#day" data-toggle="tab" onclick="changeType(0)">{{langData.weekTiming[lang]}}</a>
                                </li>
                                <li>
                                    <a href="#time" data-toggle="tab" onclick="changeType(1)">{{langData.dateTiming[lang]}}</a>
                                </li>
                            </ul>
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="day"></div>
                                <div class="tab-pane fade" id="time"></div>
                            </div>
                            <div class="modal-item">
                                <button class="blue-btn" id="add-btn" onclick="addTiming(this)" data-type="0">{{langData.add[lang]}}</button>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="button" class="blue-btn" data-dismiss="modal" onclick="commit()">{{langData.save[lang]}}</button>
                        </div>
                    </div>
                    <!--</form>-->
                </form>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal -->
    </div>
</block>
<block name="js">
    <include file="Public/datetimepicker"/>
    <script src="__PUBLIC__/js/Dishes_index.js?v201711"></script>
    <script type="text/javascript">
    var ico_img = '__PUBLIC__/images/defaultFoodCate1.png';

    function preview(file) {
        var picinfo = file.files[0]; //input
        if (picinfo.size > 1 * 1024 * 1024) {
            layer.msg(vm.langData.uploadLimit[vm.lang]);
            $("input[name='user_define_img']").val('');
            $("#classify-icon").attr('src', ico_img);
            return false;
        }
        if (file.files && file.files[0]) {
            var reader = new FileReader();
            reader.onload = function(evt) {
                $("#classify-icon").attr('src', evt.target.result);
                $("#img_url").val(evt.target.result);
                // 类型归为自定义图标
                $("#ico_category_type").val(2);
            }
            reader.readAsDataURL(file.files[0]);
        }
    }

    $("#close_btn").click(function() {
        $("#classify-icon").attr('src', ico_img);
        $("#img_url").val(ico_img);
        // 类型归为默认图标
        $("#ico_category_type").val(0);

        var file = $("#user_define_img")
        file.after(file.clone().val(""));
        file.remove();
    });

    function point_img(src) {
        var pos = src.indexOf("/Public");
        var final_src = src.substr(pos);
        // 类型归为系统图标
        $("#ico_category_type").val(1);

        $("#classify-icon").attr('src', final_src);
        $("#img_url").val(final_src);

        var file = $("#user_define_img")
        file.after(file.clone().val(""));
        file.remove();
    }
    </script>
</block>