<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<!-- 引入样式 -->
		<link rel="stylesheet" href="__PUBLIC__/element-ui/lib/theme-default/index.css">
		<link rel="stylesheet" href="__PUBLIC__/css/showNumber.css">
	</head>
	<body>
		<div id="showNumber" class="clear">
				<div class="coming">
					<div class="coming-header">准备中coming</div>
					<div class="coming-content">
						<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
							<el-carousel-item v-for="page in comingPage">
					  			<el-row>
					  			  <el-col  v-for="num in comingNum" :span="12">{{num}}</el-col>
					  			</el-row>
						  	</el-carousel-item>
						</el-carousel>
					</div>
				</div>
				<div class="take">
					<div class="take-header">请以下号码到取餐区取餐</div>				
					<div class="take-content">
						<div class="take-content-item">
							<div class="take-title">
								<div class="title-letter">A</div>
								<div class="title-right">
									<span class="title-chinese">取餐区</span>
									<span class="title-english">Take meals</span>
								</div>
							</div>
							<div class="take-carousel">
								<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
								<el-carousel-item v-for="page in comingPage">
						  			  <div v-for="num in comingNum">{{num}}</div>
							  	</el-carousel-item>
							</el-carousel>
							</div>
						</div>
						<div class="take-content-item">
							<div class="take-title">
								<div class="title-letter">B</div>
								<div class="title-right">
									<span class="title-chinese">取餐区</span>
									<span class="title-english">Take meals</span>
								</div>
							</div>
							<div class="take-carousel">
								<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
								<el-carousel-item v-for="page in comingPage">
						  			  <div v-for="num in comingNum">{{num}}</div>
							  	</el-carousel-item>
							</el-carousel>
							</div>
						</div>
						<div class="take-content-item">
							<div class="take-title">
								<div class="title-letter">C</div>
								<div class="title-right">
									<span class="title-chinese">取餐区</span>
									<span class="title-english">Take meals</span>
								</div>
							</div>
							<div class="take-carousel">
								<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
								<el-carousel-item v-for="page in comingPage">
						  			  <div v-for="num in comingNum">{{num}}</div>
							  	</el-carousel-item>
							</el-carousel>
							</div>
						</div>
						<div class="take-content-item">
							<div class="take-title">
								<div class="title-letter">D</div>
								<div class="title-right">
									<span class="title-chinese">取餐区</span>
									<span class="title-english">Take meals</span>
								</div>
							</div>
							<div class="take-carousel">
								<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
								<el-carousel-item v-for="page in comingPage">
						  			  <div v-for="num in comingNum">{{num}}</div>
							  	</el-carousel-item>
							</el-carousel>
							</div>
						</div>
						<div class="take-content-item">
							<div class="take-title">
								<div class="title-letter">E</div>
								<div class="title-right">
									<span class="title-chinese">取餐区</span>
									<span class="title-english">Take meals</span>
								</div>
							</div>
							<div class="take-carousel">
								<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
								<el-carousel-item v-for="page in comingPage">
						  			  <div v-for="num in comingNum">{{num}}</div>
							  	</el-carousel-item>
							</el-carousel>
							</div>
						</div>
						<div class="take-content-item">
							<div class="take-title">
								<div class="title-letter">F</div>
								<div class="title-right">
									<span class="title-chinese">取餐区</span>
									<span class="title-english">Take meals</span>
								</div>
							</div>
							<div class="take-carousel">
								<el-carousel :interval="show_time" arrow="never" indicator-position="none" :autoplay="true">
								<el-carousel-item v-for="page in comingPage">
						  			  <div v-for="num in comingNum">{{num}}</div>
							  	</el-carousel-item>
							</el-carousel>
							</div>
						</div>
					</div>
				</div>
		</div>
	</body>
	<!-- 先引入 Vue -->
	<script src="__PUBLIC__/js/vue.js"></script>
	<!-- 引入组件库 -->
	<script src="__PUBLIC__/element-ui/lib/index.js"></script>
	<script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
	<script src="__PUBLIC__/js/prevent.js"></script>
	<script>
		new Vue({
			data:{	
				show_time:3000,
				showComing:false,
				comingPage:3,
				comingNum:['0001','0002','0003','0004','0005','0006','0007','0008','0009','0010','011','012','013','014','015','016','017','018','019','020','021']
			},
			mounted:function(){
				$('iframe').hide();
				_self=this;
				var comingLength=_self.comingNum.length;
				var comingPage=Math.ceil(_self.comingNum.length/20);
				console.log(comingPage);
				_self.showComing=true;
			},
			beforeCreate:function(){				
				_self=this;

				// $.ajax({
				// 	type: "get",
				// 	url: "/index.php/api/Advertisement/getAdvertisementList/advertisement_type/1",
				// 	dataType: 'json',  
				// 	success: function(data){
				// 		_self.adData=data.data;
				// 		_self.advertise_time = data.advertise_time*1000;
				// 		_self.show=true;
				// 	},
				// 	error: function(data){
				// 		console.log('error'+data);
				// 	}
				// });
			}

		}).$mount('#showNumber');
</script>
</html>