<extend name="Public:base" />
<block name="css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
</block>
<block name="main">

    <body class="order-body clear">
        <header id="restaurantInfo" data-restaurant_id="{$Think.get.restaurant_id}" data-desk_code="{$Think.get.desk_code}">
        </header>
        <div id="menu" class="order-content" v-cloak>
            <div class="classify-bd" id="navbarExample">
                <ul class="nav">
                    <li v-for="item in classify">
                        <a class="classify-item" :href="'#classify'+item.food_category_id">
                                <img class="classify-icon" :src="item.img_url">
                                <!-- <img class="classify-icon" src="__PUBLIC__/images/avatar.png"> -->
                                <div class="classify-name">{{item.food_category_name}}</div>
                            </a>
                    </li>
                </ul>
            </div>
            <section class="dish-list" data-spy="scroll" data-target="#navbarExample">
                <div :id="'classify'+item.food_category_id" v-for="item in classify">
                        <div v-for="infoItem in info[item.food_category_id]" class="dish-item flex-content vertical-flex">
                                <img :data-src="'/'+infoItem.food_img" class="dish-icon lazyload" data-toggle="modal" data-target="#foodModal" :data-food_id="infoItem.food_id" :data-have_attribute="infoItem.have_attribute>0?1:2" @click="findfoodinfo($event)">
                                <div class="dish-right flex-main">
                                    <div class="dish-name">{{infoItem.food_name}}</div>
                                    <div class="dish-price">
                                        <span>&yen;</span>
                                        <b class="price-num">{{infoItem.food_price}}</b>
                                    </div>
                                    <button v-if="infoItem.have_attribute>0" class="selectAttr-btn" data-toggle="modal" data-target="#foodModal" :data-food_id="infoItem.food_id" data-have_attribute="1" @click="findfoodinfo($event)">选规格</button>
                                    <button v-else class="plus-btn" data-toggle="modal" :data-food_id="infoItem.food_id" data-have_attribute="0" @click="findfoodinfo($event)">
                                        <i class="iconfont icon-plus"></i>
                                    </button>
                                </div>
                            </div>
                    </div>
            </section>
        </div>
        <footer class="order-footer flex-content vertical-flex">
            <i class="iconfont icon-up"></i>
            <div class="order-footer-left flex-main flex-content vertical-flex" onclick="showCart()">
                <i class="iconfont icon-canyin order-footer-icon"></i>
                <span class="order-footer-num" id="numv">0</span>
                <div>
                    <span>&yen;</span>
                    <span class="order-footer-total" id="Total">0.00</span>
                </div>
                <small>（优惠前总价）</small>
            </div>
            <button class="order-footer-btn flex-content vertical-flex" onclick="PlaceOrder()">
                <span>选好了</span>
                <i class="iconfont icon-more"></i>
            </button>
        </footer>
        <div class="order-cart">
            <div class="order-cart-content">
                <i class="iconfont icon-down" onclick="showCart()"></i>
                <div class="order-cart-main">
                    <div id="foodlist">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal" id="foodModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" id="modelfood">
            </div>
        </div>
    </body>
</block>
<block name="js">
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/layer/mobile/layer.js"></script>
    <script src="__PUBLIC__/js/vue.js"></script>
    <script src="__PUBLIC__/js/jquery.fly.min.js"></script>
    <script src="__PUBLIC__/js/lazyload.min.js"></script>
    <script src="__PUBLIC__/js/Mobile/order.js?v20171105"></script>
</block>