<include file="Public/head"/>
<!-- 订单列表 -->
<body>
	<header class="home-header">
		<a href="javascript:history.back(-1)">
			<img src="__PUBLIC__/images/lt.png">
			<span>重新点餐</span>
		</a>
	</header>

	<div class="order-list">
		<div class="container-fluid order-list-header">
			<div class="row">
				<div class="col-xs-6 text-left">菜品</div>
				<div class="col-xs-1">单价</div>
				<div class="col-xs-1">
					<select>
						<option>订单类型</option>
						<option>堂吃</option>
						<option>外卖</option>
					</select>
				</div>
				<div class="col-xs-1">
					<select>
						<option>点餐方式</option>
						<option>终端点餐</option>
						<option>收银点餐</option>
						<option>微信点餐</option>
					</select>
				</div>
				<div class="col-xs-1">
					<select>
						<option>支付方式</option>
						<option>微信支付</option>
						<option>支付宝</option>
					</select>
				</div>
				<div class="col-xs-1">
					<select>
						<option>状态</option>
						<option>未完成</option>
						<option>已完成</option>
					</select>
				</div>
			</div>
		</div>

		<div class="order-list-item">
			<div class="container-fluid">
				<div class="row text-left order-number">
					<div class="col-xs-12 col-sm-6">
						订单号：24135436576576456546
					</div>
					<div class="col-xs-12 col-sm-5 text-right">
						下单时间：2016-11-04
					</div>		
					<div class="col-xs-2 col-sm-1 text-right">
						<button class="order-delete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-6 text-left">
						<span>奥尔良烤全翅饭</span><br>
						<span>莲藕花生猪骨汤莲藕花生猪骨汤</span><br>
						<span>虫草花炖瘦肉汤</span><br>
					</div>
					<div class="col-xs-1">
						<span>¥17*1</span><br>
						<span>¥7*1</span><br>
						<span>¥5*1</span><br>
					</div>
					<div class="col-xs-1">
						堂吃
					</div>
					<div class="col-xs-1">
						终端点餐
					</div>
					<div class="col-xs-1">
						支付宝
					</div>
					<div class="col-xs-1">
						已完成
					</div>
				</div>
			</div>
		</div>

		<div class="order-list-item">
			<div class="container-fluid">
				<div class="row text-left order-number">
					<div class="col-xs-12 col-sm-6">
						订单号：24135436576576456546
					</div>
					<div class="col-xs-12 col-sm-5 text-right">
						下单时间：2016-11-04
					</div>		
					<div class="col-xs-2 col-sm-1 text-right">
						<button class="order-delete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-6 text-left">
						<span>奥尔良烤全翅饭</span><br>
						<span>莲藕花生猪骨汤莲藕花生猪骨汤</span><br>
						<span>虫草花炖瘦肉汤</span><br>
					</div>
					<div class="col-xs-1">
						<span>¥17*1</span><br>
						<span>¥7*1</span><br>
						<span>¥5*1</span><br>
					</div>
					<div class="col-xs-1">
						堂吃
					</div>
					<div class="col-xs-1">
						终端点餐
					</div>
					<div class="col-xs-1">
						支付宝
					</div>
					<div class="col-xs-1">
						已完成
					</div>
				</div>
			</div>
		</div>

		<div class="order-list-item">
			<div class="container-fluid">
				<div class="row text-left order-number">
					<div class="col-xs-12 col-sm-6">
						订单号：24135436576576456546
					</div>
					<div class="col-xs-12 col-sm-5 text-right">
						下单时间：2016-11-04
					</div>		
					<div class="col-xs-2 col-sm-1 text-right">
						<button class="order-delete">
							<span class="glyphicon glyphicon-trash"></span>
						</button>
					</div>	
				</div>
				<div class="row">
					<div class="col-xs-6 text-left">
						<span>奥尔良烤全翅饭</span><br>
						<span>莲藕花生猪骨汤莲藕花生猪骨汤</span><br>
						<span>虫草花炖瘦肉汤</span><br>
					</div>
					<div class="col-xs-1">
						<span>¥17*1</span><br>
						<span>¥7*1</span><br>
						<span>¥5*1</span><br>
					</div>
					<div class="col-xs-1">
						堂吃
					</div>
					<div class="col-xs-1">
						终端点餐
					</div>
					<div class="col-xs-1">
						支付宝
					</div>
					<div class="col-xs-1">
						已完成
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer class="home-footer"></footer>
</body>
</html>