<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/js/Manager-business/device-code.js"></script>
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <h2>注册码列表</h2>
        </div>
        <div class="col-md-2">
            {$page}
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form action="javascript:void(0)" id="code_num" style="margin-top: 20px">
                <button onclick="create_code()">生成注册码</button>
                <input type="radio" name="code_num" id="code_num1" value="1" checked><label for="code_num1">1个</label>
                <input type="radio" name="code_num" id="code_num2" value="10"><label for="code_num2">10个</label>
                <select name="business_id" id="business_id">
                    <option value="0">
                        请选择商家
                    </option>
                    <volist name="businessList" id="vo">
                        <option value="{$vo.business_id}">
                            {$vo.business_name}
                        </option>
                    </volist>
                </select>
            </form>
        </div>
    </div>
    <table class="table table-hover">
        <thead><tr><th>序号</th><th>注册码</th><th>所属商家</th><th>状态</th><th>有效时间</th><th>剩余天数</th><th>操作</th></tr></thead>
        <tbody>
        <volist name="codeList" id="vo1" key="k">
            <tr><td>{$k}</td><td>{$vo1.code}</td>
                <td><select name="" id="" onchange="isChange(this)" data-code_id="{$vo1.code_id}">
                    <option value="0">暂没分配</option>
                    <volist name="businessList" id="vo2">
                        <if condition="$vo1[business_id] eq $vo2[business_id]">
                            <option value="{$vo2.business_id}" selected>
                                {$vo2.business_name}
                            </option>
                            <else/>
                            <option value="{$vo2.business_id}">
                                {$vo2.business_name}
                            </option>
                        </if>
                    </volist>
                    </select>
                </td>
                <td>
                <if condition="vo1.code_status eq 0">
                    未使用
                    <else/>
                    已使用
                </if></td>
                <td><input type="text" value="{$vo1.code_timestamp}" style="width: 40px" data-code_id="{$vo1.code_id}" onchange="changeCodeTime(this)">天</td>
                <td><input type="text" value="{$vo1.rest_timestamp}"style="width: 40px" data-code_id="{$vo1.code_id}" onchange="changeCodeRestTime(this)">天</td>
                <td><button data-code_id="{$vo1.code_id}" onclick="deleteCode(this)">删除</button>
                    <button data-code_id="{$vo1.code_id}" onclick="findInfo(this)">查看关联</button>
                </td>
            </tr>
        </volist>
        </tbody>
    </table>
</div>
</body>
</html>