<extend name="Public:base" />
<block name="main">
	<body class="address-body">
		<div class="flex-content address-search">
			<select>
				<option>广州</option>
			</select>
			<input type="text" class="input w100" placeholder="输入搜索地址">
		</div>
		<div class="tips">
			登录后可享受会员优惠价，并自动累计K金。
			<a href="#" class="text-active right">去登录</a>
		</div>
		<div class="address-item">
			<div class="flex-content vertical-flex">
				<i class="iconfont icon-address address-item-icon"></i>
				<div class="flex-main">
					<div class="address-name">乐都汇</div>
					<div class="address-detail">广州市天河区东圃珠村乐都汇购物中心一层L1F001号店铺</div>
				</div>
				<div>
					<span class="address-item-num">1.03</span>
					<span class="text-grey">公里</span>
				</div>
			</div>
			<div class="address-time">
				<div class="address-time-info">
					<div>取餐时间：</div>
					<div class="flex-cintent">
						<i class="iconfont icon-radio text-active"></i>
						<span>现在，支付成功后直接取餐</span>
					</div>
					<div>
						<i class="iconfont icon-radio text-grey"></i>
						<span>稍晚，预约当天 稍晚时间 签到后取餐</span>
					</div>
				</div>
				<button class="danger-btn">进入菜单</button>
				<div class="small">
					<span class="text-active">提示：</span>
					<span class="text-grey">根据当天实际完成的支付时间，您指定的取餐时间可能会顺延</span>
				</div>
			</div>
		</div>
		<div class="address-item active">
			<div class="flex-content vertical-flex">
				<i class="iconfont icon-address address-item-icon"></i>
				<div class="flex-main">
					<div class="address-name">乐都汇</div>
					<div class="address-detail">广州市天河区东圃珠村乐都汇购物中心一层L1F001号店铺</div>
				</div>
				<div>
					<span class="address-item-num">1.03</span>
					<span class="text-grey">公里</span>
				</div>
			</div>
			<div class="address-time">
				<div class="address-time-info">
					<div>取餐时间：</div>
					<div class="flex-cintent">
						<i class="iconfont icon-radio text-active"></i>
						<span>现在，支付成功后直接取餐</span>
					</div>
					<div>
						<i class="iconfont icon-radio text-grey"></i>
						<span>稍晚，预约当天 稍晚时间 签到后取餐</span>
					</div>
				</div>
				<button class="danger-btn">进入菜单</button>
				<div class="small">
					<span class="text-active">提示：</span>
					<span class="text-grey">根据当天实际完成的支付时间，您指定的取餐时间可能会顺延</span>
				</div>
			</div>
		</div>
		<div class="address-item">
			<div class="flex-content vertical-flex">
				<i class="iconfont icon-address address-item-icon"></i>
				<div class="flex-main">
					<div class="address-name">乐都汇</div>
					<div class="address-detail">广州市天河区东圃珠村乐都汇购物中心一层L1F001号店铺</div>
				</div>
				<div>
					<span class="address-item-num">1.03</span>
					<span class="text-grey">公里</span>
				</div>
			</div>
			<div class="address-time">
				<div class="address-time-info">
					<div>取餐时间：</div>
					<div class="flex-cintent">
						<i class="iconfont icon-radio text-active"></i>
						<span>现在，支付成功后直接取餐</span>
					</div>
					<div>
						<i class="iconfont icon-radio text-grey"></i>
						<span>稍晚，预约当天 稍晚时间 签到后取餐</span>
					</div>
				</div>
				<button class="danger-btn">进入菜单</button>
				<div class="small">
					<span class="text-active">提示：</span>
					<span class="text-grey">根据当天实际完成的支付时间，您指定的取餐时间可能会顺延</span>
				</div>
			</div>
		</div>
		<div class="address-item">
			<div class="flex-content vertical-flex">
				<i class="iconfont icon-address address-item-icon"></i>
				<div class="flex-main">
					<div class="address-name">乐都汇</div>
					<div class="address-detail">广州市天河区东圃珠村乐都汇购物中心一层L1F001号店铺</div>
				</div>
				<div>
					<span class="address-item-num">1.03</span>
					<span class="text-grey">公里</span>
				</div>
			</div>
			<div class="address-time">
				<div class="address-time-info">
					<div>取餐时间：</div>
					<div class="flex-cintent">
						<i class="iconfont icon-radio text-active"></i>
						<span>现在，支付成功后直接取餐</span>
					</div>
					<div>
						<i class="iconfont icon-radio text-grey"></i>
						<span>稍晚，预约当天 稍晚时间 签到后取餐</span>
					</div>
				</div>
				<button class="danger-btn">进入菜单</button>
				<div class="small">
					<span class="text-active">提示：</span>
					<span class="text-grey">根据当天实际完成的支付时间，您指定的取餐时间可能会顺延</span>
				</div>
			</div>
		</div>
	</body>
</block>
<block name="js">
	<script type="text/javascript">
		$('.address-item').click(function(event) {
			$(this).addClass('active').siblings().removeClass('active');
		});
	</script>
</block>