<include file="Public/head"/>
<!-- 支付页 -->
<body>
	<header class="home-header">
		<a href="javascript:history.back(-1)">
			<img src="__PUBLIC__/images/lt.png">
			<b>重新点餐</b>
		</a>
	</header>
	
	<div class="pay">
		<div class="marginT2">
			<div class="text-center">
				<img src="{$info.logo}" class="shopImg"/>
			</div>
		</div>
		<div class="pay-select">
			<div class="pay-item" id="weixin">
				<a href="javascript:void(0)">
					<img src="__PUBLIC__/images/wechat.png" class="pay-item-img">
					<span>微信支付</span>
				</a>
				<div class="pay-item-right">
					<span class="glyphicon glyphicon-ok-circle red" data-paytype="0"></span>
				</div>
			</div>
			<if condition="($open==1)">
				<div class="pay-item" id="vip">
					<a href="javascript:void(0)">
						<img src="__PUBLIC__/images/vip_pay.png" class="pay-item-img">
						<span>使用会员余额支付</span>
					</a>
					<div class="pay-item-right">
						<span class="glyphicon glyphicon-ok-circle" data-paytype="1"></span>
					</div>
				</div>
			</if>
		</div>
		<div class="text-center">
			<button class="btn-none check-pay" onclick="selectPay()">
				确认支付<span class="larger ml-10"> &yen;<span class="Total">{$order.total_amount}</span></span>
				<img src="__PUBLIC__/images/gt.png" class="pay-btn-img"/>
			</button>
		</div>
	</div>
	<input type="hidden" value="{$order.order_sn}" name="order_sn" id="order_sn">

    <input type="hidden" value="{$Think.session.restaurant_id}" name="restaurant_id" id="restaurant_id">
	<input type="hidden" value="{$Think.session.business_id}" name="business_id" id="business_id">
    <input type="hidden" value="{$Think.session.restaurants_id}" name="restaurants_id" id="restaurants_id">
	<input type="hidden" value="{$Think.session.desk_code}" name="desk_code" id="desk_code">
	<!--<footer class="home-footer text-center">
		&lt;!&ndash;本页面在<span class="footer-time" id="pageCloseTime">70秒</span>后自动关闭&ndash;&gt;
	</footer>-->
    <!--<div id="pay_display"></div>-->
</body>
<script>
	function selectPay(){
		var order_sn = $("#order_sn").val();
		var node = $(".pay-item-right span");
		$.each(node,function(){
			var temp = ($(this).hasClass('red'));
			if(temp){
				var payType = $(this).data("paytype");
				if(payType == 1){
					//self.location.href = "/index.php/mobile/AlipayWapPay/wapPay/order_sn/"+order_sn;
					$.ajax({
						url: "/index.php/mobile/Index/balance/order_sn/"+order_sn,
						type: "get",
						data: "",
						dataType: "json",
						contentType: "application/json",
						success: function(res){
							if(res.code==1){
								window.location.href = "/index.php/mobile/Order/index/restaurant_id/"+res.restaurant_id;
							}else{
								alert(res.msg);
							}
						},
						error: function(x,err){
							alert(err);
						}
					})
				}else if(payType == 0){
                    callpay();
				}
			}
		});
	}

    //调用微信JS api 支付
    function jsApiCall()
    {
        WeixinJSBridge.invoke(
                'getBrandWCPayRequest',
                {$jsApiParameters},
                function(res){
                    WeixinJSBridge.log(res.err_msg);
                    if(res.err_msg == 'get_brand_wcpay_request:cancel') {
                        alert("您已取消了此次支付");
                        return;
                    } else if(res.err_msg == 'get_brand_wcpay_request:fail') {
                        alert("支付失败");
                        return;
                    } else if(res.err_msg == 'get_brand_wcpay_request:ok') {
                        var restaurant_id = $("#restaurant_id").val();
						var business_id = $("#business_id").val();
						var restaurants_id = $("#restaurants_id").val();
                        var desk_code = $("#desk_code").val();
                        //location.href="__CONTROLLER__/index/restaurant_id/"+restaurant_id+"/desk_code/"+desk_code;
						location.href="__MODULE__/order/index/restaurant_id/"+restaurant_id+"/business_id/"+business_id+"/restaurants_id/"+restaurants_id;
                    } else {
                        alert("未知错误"+res.error_msg);
                        return;
                    }
                }
        );
    }
    function callpay()
    {
        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', jsApiCall, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', jsApiCall);
                document.attachEvent('onWeixinJSBridgeReady', jsApiCall);
            }
        }else{
            jsApiCall();
        }
    }
</script>

</html>