<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>方雅总后台登录</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/agent.css">
	<script type="application/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
</head>
<body class="login-bg">
	<div class="login">
		<div class="login-content">
			<h1 class="login-head">
				<img src="__PUBLIC__/images/admin_logo.png">
				<span>方雅总后台</span>
			</h1>

			<div class="login-main">
				<h3 class="main-head">欢迎登录</h3>
				<input type="text" name="username" class="form-control login-input" placeholder="用户名">
				<input type="password" name="pwd" class="form-control login-input" placeholder="密码">
				<div class="code-content">
					<input type="text" name="code" class="form-control login-input" placeholder="验证码">
					<div class="code-box">
						<img src="__CONTROLLER__/verifyImg" class="code-img" onclick="this.src='__CONTROLLER__/verifyImg/'+Math.random()">
					</div>
				</div>				
				<button class="form-control login-btn" type="button" onclick="commit()">登录</button>
			</div>
		</div>
	</div>
</body>
<script>
	function commit(){
		var username = $("input[name='username']").val();
		var pwd = $("input[name='pwd']").val();
		var code =  $("input[name='code']").val();
		if(username && pwd){
			$.ajax({
				type:"get",
				url:"/index.php/manager/index/checklogin/username/"+username+"/pwd/"+pwd+"/code/"+code+"",
				async:true,
				dataType:"json",
				success:function(data){
					alert(data.msg);
					if(data.code == 0){
						location.href = "/index.php/manager/Index/index";
					}
				}
			});
		}else{
			alert("用户名和密码不能为空！");	
		}
	}
</script>
</html>