<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- css样式表 -->
    <block name="css"></block>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/iconfont/iconfont.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/restaurant.css">
    <title>自助点餐系统</title>
</head>
    <!-- 主体部分 -->
    <block name="main"></block>
    <!-- 引入JS -->
    <script type="text/javascript" src="__PUBLIC__/js/jquery-3.1.0.min.js"></script>
    <block name="js"></block>
</html>