<div class="pull-left section stats-detail">
    <div class="section-header text-center">订单详细</div>
    <div class="section-content">
        <div>
            <table>
                <tbody>
                    <tr class="text-center">
                        <td></td>
                        <td>日期时间</td>
                        <td>订单号</td>
                        <td>状态</td>
                        <td>就餐方式</td>
                        <td>支付方式</td>
                        <td>原价</td>
                        <td>优惠</td>
                        <td>附加费</td>
                        <td class="text-right">总价</td>
                    </tr>
                    <volist name="orderInfo" id="vo" key="k">
                        <tr class="stats-detail-item">
                            <td>
                                <span class="stats-detail-index">{$k}</span>
                                <button class="stats-detail-btn" onclick="open_close({$k},this)">+</button>
                            </td>
                            <td>{$vo.add_time}</td>
                            <td>{$vo.order_sn}</td>
                            <td class="stats-detail-status">
                                <if condition="($vo.refuse eq 1) OR ($vo.refuse eq 2)">
                                    <font color="red">退菜</font>
                                    <else/> 正常
                                </if>
                            </td>
                            <td class="text-center">
                                <if condition="$vo.order_type eq 1">
                                    堂吃
                                    <else/> 外带
                                </if>
                            </td>
                            <td class="text-center">
                                <if condition="$vo.pay_type eq 0">
                                    <img src="__PUBLIC__/images/cash_icon.png">
                                    <elseif condition="$vo.pay_type eq 1" />
                                    <img src="__PUBLIC__/images/alipay_icon.png">
                                    <elseif condition="$vo.pay_type eq 2" />
                                    <img src="__PUBLIC__/images/wechat_icon.png">
                                    <elseif condition="$vo.pay_type eq 4" />
                                    <img src="__PUBLIC__/images/VIP.png">                                 
                                    <else/>
                                    <img src="__PUBLIC__/images/card.png">
                                </if>
                            </td>
                            <if condition="$vo.vip_or_restaurant eq 1">
                                <td class="text-center">{$vo.total_amount}</td>
                                <td class="text-center">0</td>
                                <else/>
                                <td class="text-center">{$vo.original_price}</td>
                                <td class="text-center">{$vo.benefit_money}</td>
                            </if>
                            <td class="text-center">{$vo.extra_charge}</td>
                            <td class="text-right">{$vo.total_amount}</td>
                            <!-- <td>{$vo.cashier_id}</td> -->
                        </tr>
                        <tr>
                            <td></td>
                            <td colspan="3">
                                <table id="order_food{$k}" data-value="0" class="stats-detail-dishes">
                                    <volist name="vo.food_info" id="vo2">
                                        <tr>
                                            <td class="stats-detail-name">{$vo2.food_name}</td>
                                            <td class="stats-detail-num">{$vo2.food_num}份</td>
                                            <td class="stats-detail-num">{$vo2[food_price2]-$vo2[attribute_list][0]['food_attribute_price']}元</td>
                                            <td class="stats-detail-status">
                                                <if condition="$vo.refuse eq 1">
                                                    <font color="red">退菜</font>
                                                <elseif condition="$vo.refuse eq 2"/>
                                                    <if condition="$vo2.refuse_num neq 0">
                                                    <font color="red">退菜</font>
                                                    <else/>
                                                    正常
                                                    </if>
                                                <else/>
                                                    正常    
                                                </if>
                                            </td>
                                        </tr>
                                        <volist name="vo2['attribute_list']" id="al">
                                            <tr>
                                                <td class="stats-detail-attr">{$al['food_attribute_name']}</td>
                                                <td class="stats-detail-num">{$vo2.food_num}份</td>
                                                <td class="stats-detail-num">{$al['food_attribute_price']}元</td>
                                                <td class="stats-detail-status"></td>
                                            </tr>
                                        </volist>
                                    </volist>
                                </table>
                            </td>
                            <td colspan="3"></td>
                        </tr>
                    </volist>
                </tbody>
            </table>
        </div>
        <div class="text-center sale-table-page">
            <ul class="pagination" id="detail-page">
                {$page}
            </ul>
        </div>
        <input type="hidden" id="total_amount" value="{$total_amount}">
        <input type="hidden" id="pay_str" value="{$pay_str}">
        <input type="hidden" id="order_str" value="{$order_str}">
    </div>
</div>
<div class="pull-left">
    <div id="container" style="height:200px"></div>
    <div class="stats-detail-info">
        <div class="flex-content summary-info-item">
            <div class="flex-main">
                <span class="summary-info-icon cash"></span>
                <span>现金</span>
            </div>
            <span><?php echo $statisData['cash'];?></span>
        </div>
        <div class="flex-content summary-info-item">
            <div class="flex-main">
                <span class="summary-info-icon wechat"></span>
                <span>微信</span>
            </div>
            <span><?php echo $statisData['wechat'];?></span>
        </div>
        <div class="flex-content summary-info-item">
            <div class="flex-main">
                <span class="summary-info-icon alipay"></span>
                <span>支付宝</span>
            </div>
            <span><?php echo $statisData['alipay'];?></span>
        </div>
        <div class="flex-content summary-info-item">
            <div class="flex-main">
                <span class="summary-info-icon member"></span>
                <span>会员</span>
            </div>
            <span><?php echo $statisData['member'];?></span>
        </div>
        <div class="flex-content summary-info-item">
            <div class="flex-main">
                <span class="summary-info-icon card"></span>
                <span>银行代收</span>
            </div>
            <span><?php echo $statisData['fourth'];?></span>
        </div>
    </div>
    <div class="stats-detail-total">
        <div>共：
        <?php echo $statisData['total'];?>元</div>

        <div>总优惠：
            <?php echo $statisData['benefit_money_total'];?>元</div>

        <div>总附加费：
            <?php echo $statisData['extra_charge_total'];?>元</div>

        <?php if($refuse == 99): ?>
            <div>收入金额：
                <?php echo $statisData['total']-$statisData['refuse_total'];?>元</div>
        <?php endif; ?>
    </div>

    <div class="stats-detail-info">
        <div class="flex-content summary-info-item">
            <span class="flex-main">订单数：</span>
            <span><?php echo $statisData['count'];?>单</span>
        </div>
        <div class="flex-content summary-info-item">
            <span class="flex-main">退菜单数：</span>
            <span><?php echo $statisData['re_count'];?>单</span>
        </div>
        <div class="flex-content summary-info-item">
            <span class="flex-main">退菜份数：</span>
            <span><?php echo $statisData['refuse_num'];?>份</span>
        </div>
        <div class="flex-content summary-info-item">
            <span class="flex-main">退款金额：</span>
            <span><?php echo $statisData['refuse_total'];?>元</span>
        </div>
        <div class="flex-content summary-info-item">
            <span class="flex-main">菜品份数：</span>
            <span><?php echo $statisData['dishes_data_totle'];?>份</span>
        </div>
    </div>
</div>
<script>

$("#detail-page").children().children("a").click(function() {
    var page = parseInt($(this).data("page"));
    var form = $("#search_form")[0];
    var formDate = new FormData(form);
    $.ajax({
        url: "/index.php/admin/sale/orderInfo/page/" + page,
        data: formDate,
        type: "post",
        cache: false,
        contentType: false,
        processData: false,
        success: function(data) {
            $("#orderInfo").html(data);

            //修改统计结果
            var startDate = $("#startDate").val();
            var endDate = $("#endtDate").val();
            $("#search_data").html(startDate + " - " + endDate);

            var food_name = $("#food_name").val();
            if (food_name) {
                $("#search_food").html("菜品:" + food_name);
            } else {
                $("#search_food").val("所有");
            }

            var pay_type = $("#pay_str").val();
            if (pay_type == "") {
                $("#search_pay_type").html("支付方式：所有");
            } else {
                $("#search_pay_type").html("支付方式：" + pay_type);
            }

            var order_type = $("#order_str").val();
            if (order_type == "") {
                $("#search_order_type").html("就餐方式：所有");
            } else {
                $("#search_order_type").html("就餐方式：" + order_type);
            }

            var search_total_amount = $("#total_amount").val();
            $("#search_total_amount").html(search_total_amount + "元");
        },
        error: function() {
            alert("出错了");
        }
    });
});

function open_close(i, obj) {
    var tid = "#order_food" + i;
    console.log(tid)
    var value = $(tid).data("value");
    console.log(value);
    if (value == 1) {
        $(obj).text('+');
        $(tid).hide();
        $(tid).data("value", 0);
    } else if (value == 0) {
        $(obj).text('-');
        $(tid).show();
        $(tid).data("value", 1)
    }
}
</script>
<script>
var chart = null;
$(function () {
    $('#container').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            spacing : [10, 0 , 10, 0]
        },
        credits: {
            enabled: false
        },
        title: {
            floating:true,
            text: '占比'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false,
                },
                point: {
                    events: {
                        mouseOver: function(e) {  
                            chart.setTitle({
                                text: e.target.name+ '\t'+ e.target.y
                            });
                        }
                    }
                },
            }
        },
        series: [{
            type: 'pie',
            innerSize: '85%',
            name: '占比',
            data: [
                ['支付宝',    <?php echo $statisData['alipay'];?>],
                {name:'会员',   y:<?php echo $statisData['member'];?> , url : '',color:'#ffcc00'},
                {
                    name: '微信',
                    y: <?php echo $statisData['wechat'];?>,
                    selected: true,
                    url: ''
                },
                {name:'银行代收',   y:<?php echo $statisData['fourth'];?> , color:'#ff4da6'},
                {name:'现金',   y:<?php echo $statisData['cash'];?> , color:'red'}
            ]
        }]
    }, function(c) {
        // 环形图圆心
        var centerY = c.series[0].center[1],
            titleHeight = parseInt(c.title.styles.fontSize);
        c.setTitle({
            y:centerY + titleHeight/2
        });
        chart = c;
    });
});
</script>