<include file="Public/head" />
<body>
	<!-- 简要报表 -->
	<ul class="summary-nav nav-menu">
		<li class="active">
			<a href="#today" data-toggle="tab">今日报表</a>
		</li>
		<li>
			<a href="#threeDay" data-toggle="tab">三天报表</a>
		</li>
		<li>
			<a href="#week" data-toggle="tab">一周报表</a>
		</li>
		<li>
			<a href="#month" data-toggle="tab">30天报表</a>
		</li>
	</ul>
	<div class="container-fluid tab-content">
		<div class="tab-pane fade in active" id="today">
			<header class="summary-header">
				<div class="summary-header-name">今日收益（元）</div>
				<div class="summary-header-num">7,966.81</div>				
			</header>
			<div class="summary-content">
				<div class="clearfix">
					<div class="summary-info">
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon cash"></span>
								<span>现金</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon wechat"></span>
								<span>微信</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon alipay"></span>
								<span>支付宝</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon member"></span>
								<span>会员</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item summary-info-stat">
							<span class="flex-main">订单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜份数：</span>
							<span>1000份</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退款金额：</span>
							<span>100.00元</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">菜品份数：</span>
							<span>1000份</span>
						</div>
					</div>
					<div class="summary-chart">
						预留图表位
					</div>
				</div>
				<div class="clearfix summary-dishes-content">
					<div class="summary-dishes">
						<div class="summary-dishes-title">明星菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
					<div class="summary-dishes">
						<div class="summary-dishes-title">末位菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="threeDay">
			<header class="summary-header">
				<div class="summary-header-name">三天收益（元）</div>
				<div class="summary-header-num">15,966.81</div>				
			</header>
			<div class="summary-content">
				<div class="clearfix">
					<div class="summary-info">
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon cash"></span>
								<span>现金</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon wechat"></span>
								<span>微信</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon alipay"></span>
								<span>支付宝</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon member"></span>
								<span>会员</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item summary-info-stat">
							<span class="flex-main">订单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜份数：</span>
							<span>1000份</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退款金额：</span>
							<span>100.00元</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">菜品份数：</span>
							<span>1000份</span>
						</div>
					</div>
					<div class="summary-chart">
						预留图表位
					</div>
				</div>
				<div class="clearfix summary-dishes-content">
					<div class="summary-dishes">
						<div class="summary-dishes-title">明星菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
					<div class="summary-dishes">
						<div class="summary-dishes-title">末位菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="week">
			<header class="summary-header">
				<div class="summary-header-name">一周收益（元）</div>
				<div class="summary-header-num">25,966.81</div>				
			</header>
			<div class="summary-content">
				<div class="clearfix">
					<div class="summary-info">
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon cash"></span>
								<span>现金</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon wechat"></span>
								<span>微信</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon alipay"></span>
								<span>支付宝</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon member"></span>
								<span>会员</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item summary-info-stat">
							<span class="flex-main">订单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜份数：</span>
							<span>1000份</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退款金额：</span>
							<span>100.00元</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">菜品份数：</span>
							<span>1000份</span>
						</div>
					</div>
					<div class="summary-chart">
						预留图表位
					</div>
				</div>
				<div class="clearfix summary-dishes-content">
					<div class="summary-dishes">
						<div class="summary-dishes-title">明星菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
					<div class="summary-dishes">
						<div class="summary-dishes-title">末位菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane fade" id="month">
			<header class="summary-header">
				<div class="summary-header-name">30天收益（元）</div>
				<div class="summary-header-num">75,966.81</div>				
			</header>
			<div class="summary-content">
				<div class="clearfix">
					<div class="summary-info">
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon cash"></span>
								<span>现金</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon wechat"></span>
								<span>微信</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon alipay"></span>
								<span>支付宝</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item">
							<div class="flex-main">
								<span class="summary-info-icon member"></span>
								<span>会员</span>
							</div>
							<span>12,393,36</span>
						</div>
						<div class="flex-content summary-info-item summary-info-stat">
							<span class="flex-main">订单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜单数：</span>
							<span>1000单</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退菜份数：</span>
							<span>1000份</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">退款金额：</span>
							<span>100.00元</span>
						</div>
						<div class="flex-content summary-info-item">
							<span class="flex-main">菜品份数：</span>
							<span>1000份</span>
						</div>
					</div>
					<div class="summary-chart">
						预留图表位
					</div>
				</div>
				<div class="clearfix summary-dishes-content">
					<div class="summary-dishes">
						<div class="summary-dishes-title">明星菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
					<div class="summary-dishes">
						<div class="summary-dishes-title">末位菜品</div>
						<table>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 110px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 80px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 60px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 40px;"></div>
								</td>
								<td>784份</td>
							</tr>
							<tr>
								<td>香菇滑鸡</td>
								<td>
									<div class="dishes-progress" style="width: 20px;"></div>
								</td>
								<td>784份</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>